*{
  color: #41403E;
  letter-spacing: 1px;
}

.pageContainer{
  display: flex;
}

div.notesContainer{
  position: sticky;
}

#textField{
  width: 100%;
  height: 200px;
  resize: none;
}

#box{
  display: flex;
  align-items: left;
  flex-direction: column;
  height: 90vh;
  overflow: scroll;
}

.note {
  border: solid 2px #41403E;
  margin: 10px 20px 10px 20px;
  background: transparent;
  padding: 1rem 1rem;
  font-size: 2rem;
  margin: 1 1rem;
  transition: all 0.5s ease;
  outline: none;
  /* box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2); */
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
